*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: tomato;
    border: 5px solid black;
    
}
div{
    background-color: green;
    
}
p{
    background-color: greenyellow;
}
span{
    background-color: teal;
    padding: 20px;
    display: block;
    margin: 5px;
}
.learning p, .span-learning{
    background-color: burlywood;
    padding: 5px;
}

.note{
    background-color: violet;
}