*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(211, 176, 170);
}
div{
    margin: 20px;
    background-color: rgb(10, 46, 46);
    color: white;
    line-height: 1.5;    
    display: inline-block;
    width: 30%;   
    margin: 10px auto;  
    height:300px;  
    text-align: center;
}
.overflow{   
    overflow-y: hidden;    
}
p{
    margin: 10px auto; /*This is why
    we see the div1 text different*/
    width: 60%;
}
button{
    width:300px;
    height:100px;
    background-color: crimson;
    color: white;
    border: 5px solid black;
}